<% include head.ejs %>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/flipclock.min.js"></script>
<link href="/stylesheets/flipclock.css" rel="stylesheet">
<script src="/javascripts/battlesock.js"></script>

<% include header.ejs %>

    <div class="container">
        <div class="row">
            <div id="banner">60</div>
            <a id="toDash" href="/dash" disabled="disabled" class="btn btn-primary center">Dashboard</a>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8" class="gameSpace">
                <h3 class="pull-left plFont"><%= user.username %></h3>
                <h3 class="pull-right plFont"><%= opponent.username %></h3>
                <div class="row"></div>
                <% for(i=0; i<5; i++) { %>
                <div class="row">
                    <div class="gameIcon pull-left" id="t1p<%= i %>">
                        <img class="img-circle" src="<%= user.team[i].pic %>"/>
                        <div class="player-name"><%= user.team[i].name %></div>
                        <div class="player-count s<%= user.team[i].id %>" id="t1p<%= i %>s">0</div>
                    </div>
                    <div class="gameIcon pull-right" id="t2p<%= i %>">
                        <img class="img-circle" src="<%= opponent.team[i].pic %>"/>
                        <div class="player-name"><%= opponent.team[i].name %></div>
                        <div class="player-count s<%= opponent.team[i].id %>" id="t2p<%= i %>s">0</div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>

<% include footer.ejs %>
